.navbar{
    background-color:white;  
}

.form-control{
    width: 402px;
    margin-left: 400px;
    border-radius: 0px;
    margin-top: 10px;
    height: 39.5px;
}

.fa-search{
    position: absolute;
    z-index: 1;
    right: 41.5%;
    top: 29.1%;
    color: white;
    background-color: rgb(251, 156, 2);
    padding: 9.5px;
    margin-top: -8px;
    margin-right: -16px;
}

.fa-search:hover{
    background: rgb(199, 140, 18);
}

.btn-primary {
    
    background-color: var(--button-background-color);
    border-color: var(--button-background-color);
    border: none;
    
  }


.btn-primary:hover{
    background: rgb(199, 140, 18);
    border-radius: 0;
}
.fa-cart-plus{
    margin-bottom: 20%;
    color: black;
}

.fa-user{
    margin-bottom: 25%;
    color: black;
}

.fa-home{
    margin-bottom: 25%;
    color: black;
}