<header>
    
    <div class="navbar">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 55px">&nbsp;

            </i>
            <strong style="font-size: 30px;">Mkys</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Rechercher">
            </div>
            <span class="fas fa-search search-icone"></span>


        </div>

        <div class="topmenu">
            <button class="btn btn-primary" [routerLink]="['']">
                <i style="font-size: 30px;" class="fas fa-home"></i>
                <div id="tooltipText">Accueil</div>
            </button>
            <button class="btn btn-primary"[routerLink]="['/panier']">
                <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
                <div style="font-size: 10px;" class="badge bg-danger">5</div>
                <div id="tooltipText">Panier</div>
            </button>
            <button class="btn btn-primary"[routerLink]="['/connexion']">
                <i style="font-size: 30px;" class="fas fa-user"></i>
                <div id="tooltipText">Mon Compte</div>
            </button>

            <button class="btn btn-primary"[routerLink]="['/admin-connexion']">
                <i style="font-size: 30px; color:rgb(27, 113, 225)" class="fas fa-user"></i>
                <div id="tooltipText">Admin</div>
            </button>

        </div>

    </div>

    <div class="menu">
        <nav>
            <ul>
                &nbsp;
                <li>Mode</li>
                <li>Electronique</li>
                <li>Bijoux</li>
                <li>Maison</li>
              </ul>
         </nav>
    </div>

</header>

