<div class="container">
    <div class="class row">
        <div class="classe col-md-6">
            <div class="class card">
                <div class="class text-center">
                    <h1>Connexion au Compte</h1>
                    <h6>Entrez votre adresse mail et votre mot de passe</h6>
                </div>

                <form>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Addresse Mail</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Mot de Passe</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                      </form>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="class row">
        <div class="classe col-md-6">
            <div class="class card2">
                <div class="class text-center">
                    <h1>Insciption</h1>
                    <h6>Inscrivez-vous !</h6>
                </div>

                <form>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputNom1" class="form-label">Nom</label>
                          <input type="nom" class="form-control" id="exampleInputNom1" aria-describedby="NomHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Prenom</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputNom1" class="form-label">Adresse Mail</label>
                            <input type="nom" class="form-control" id="exampleInputNom1" aria-describedby="NomHelp">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputNom1" class="form-label">Mot de Passe</label>
                            <input type="nom" class="form-control" id="exampleInputNom1" aria-describedby="NomHelp">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputNom1" class="form-label">Confirmez mot de passe</label>
                            <input type="nom" class="form-control" id="exampleInputNom1" aria-describedby="NomHelp">
                          </div>
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                      </form>
                </form>
            </div>
        </div>
    </div>
</div>

