<div class="container">
    <div class="class row">
        <div class="classe col-md-6">
            <div class="class card">
                <div class="class text-center">
                    <h1>Connexion ADMIN</h1>

                </div>

                <form>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Mot de Passe ADMIN</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                      <div class="row">
                        <div class="col">
                          <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                      </div>

                      </form>
                </form>
            </div>
        </div>
    </div>
</div>


