&nbsp;

<body>
<div class="row">
    <div class="col-lg-3 col-12">
        <h2>
            A propos de nous
        </h2>
        &nbsp;
        <ul>
            <li><a style="font-weight: bold;">Etudiants ESIEA</a> </li>
            <li><a>Mélanie TILLACOVINDARAJANE</a> </li>
            <li><a>Kavitha KICHENASSAMY</a> </li>
            <li><a>Sébastien MARCHAND</a> </li>
            <li><a>Yanis ROUABAH</a> </li>
        </ul>
    </div>

    <div class="col-lg-3 col-12">
        <h2>
            Contact
        </h2>
        &nbsp;
        <div class="Contact">
            <p>
                <i class=" fa fa-location-arrow" aria-hidden="true"></i> Ivry-sur-Seine
            </p>
            <p>
                <i class="fa fa-phone" aria-hidden="true" ></i> +33123456789
            </p>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i> mkys@esiea.fr
            </p>
        </div>
    </div>
</div>
</body>