<br/><br/><br/>

<div class="container">
    <div class="class row">
        <div class="classe col-md-6">
            <div class="class card">
                <div class="class text-center">
                    <h1>Espace Admin</h1>
                    
                </div>

                <form>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputNom" class="form-label">Nom du Produit</label>
                          <input type="nom" class="form-control" id="exampleInputNom">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputDescription" class="form-label">Description</label>
                          <input type="description" class="form-control" id="exampleInputDescription">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputDescription" class="form-label">Catégorie</label>
                          <input type="description" class="form-control" id="exampleInputDescription">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputDescription" class="form-label">Prix</label>
                          <input type="description" class="form-control" id="exampleInputDescription">
                        </div>
                      <div class="row">
                        <div class="col">
                          <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>

                      </div>

                      </form>
                </form>
            </div>
        </div>
    </div>
</div>

